@mixin container {
  padding-right: $padding-mobile;
  padding-left: $padding-mobile;

  @include viewport-4 {
    max-width: $content-desktop;
    margin-right: auto;
    margin-left: auto;
  }
}

@mixin container-minor {
  padding-right: $padding-mobile;
  padding-left: $padding-mobile;

  @include viewport-4 {
    max-width: $content-desktop-minor;
    margin-right: auto;
    margin-left: auto;
  }
}
