@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass:700,800&display=swap');
@import '../base/responsive';
$font-size-title: 4rem;
$font-size-title-minor: 4rem;
$font-size-subtitle: 1.25rem;
$font-size-text: 1rem;
$font-size-button: 1rem;
$font-size-label: .75rem;

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: 'Overpass', sans-serif;
  font-weight: 800;
}

h1 {
  font-weight: lighter;
  line-height: 1.1;

  @include viewport-4 {
    line-height: 1.1;
  }
}

h2,
h3 {
  line-height: 1.5;
}

h1 {
  font-size: calc(#{$font-size-title} - .8rem);

  @include viewport-4 {
    font-size: calc(#{$font-size-title} - .5rem);
  }
  @include viewport-7 {
    font-size: calc(#{$font-size-title} + 1.8rem);
  }
}

h2 {
  font-size: $font-size-subtitle;

  @include viewport-7 {
    font-size: calc(#{$font-size-subtitle} + .25rem);
  }
}

h3 {
  font-size: $font-size-text;
}

p,
a {
  font-size: $font-size-text;
  line-height: 1.4;
}
