html,
body,
#root,
.App {
  width: 100%;
  min-height: 100%;
}

body {
  color: #FFF;
  background-color: #171717;
  background-image: url('../images/background.png');
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
