.section-main {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 6rem;

  @include viewport-7 {
    margin-top: 6rem;
  }

  text-align: center;

  @include container;

  & > p {
    max-width: 50ch;
  }

  & > .bar {
    position: relative;

    overflow: hidden;

    width: 90%;
    height: 2px;
    margin-top: 1.125rem;
  }

  & > .bar::after {
    position: absolute;
    left: 0;

    width: 300%;
    height: 100%;

    content: '';
    animation: progress 10s infinite linear alternate;

    background: linear-gradient(
    to left,
    $color-sixstripes-red,
    $color-sixstripes-orange,
    $color-sixstripes-yellow,
    $color-sixstripes-green,
    $color-sixstripes-blue,
    $color-sixstripes-purple,
    $color-sixstripes-purple,
    $color-sixstripes-blue,
    $color-sixstripes-green,
    $color-sixstripes-yellow,
    $color-sixstripes-orange,
    $color-sixstripes-red
    );
  }

  @keyframes progress {
    from {
      left: 0;

      transform: translateX(0%);
    }
    to {
      left: 100%;

      transform: translateX(-100%);
    }
  }
}
