$color-sixstripes-red: #F44336;
$color-sixstripes-orange: #FB8C00;
$color-sixstripes-yellow: #FDD835;
$color-sixstripes-green: #78BA22;
$color-sixstripes-blue: #039BE5;
$color-sixstripes-purple: #9C27B0;
